@tailwind base;
@tailwind components;
@tailwind utilities;
@import "flowbite";

/* Animasi garis bawah bergerak dari tengah */
.menu {
  position: relative;
  display: inline-block;
}

.menu::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 2px;
  background-color: rgb(249 115 22); /* Warna biru */
  transition: all 0.3s ease-in-out;
}

.menu:hover::before {
  left: 0;
  width: 100%;
}
